@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);
html {
  background: url(/bgimg/feedback-img.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#feedback-page {
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 40%;
  float: left;
  left: 35%;
  position: absolute;
  margin-top: 100px;
  
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input2 {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input3 {
  color: #3c3c3c;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);

}

.feedback-input4 {
  color: #3c3c3c;
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 45%;
  margin-left: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);

}

.average {
  color: #3c3c3c;
  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 30%;
  margin-left: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);

}

input[type="text"]:-moz-placeholder {
    text-align: right;
}

.feedback-input:focus {
  background: #fff;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

#name {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#grade {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#grade:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.titletext {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: white;
  font-size: 60px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 35px;
  font-weight: 700;
}

.text1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

.text2 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

#buttonadd {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: right;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

.buttondel {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: right;
  width: 13%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 34px;
  padding-top: 7px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-left: 6px;
  font-weight: 700;
}

#button-blue {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0493bd;
}

.ease {
  margin-top: 30px;
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

.textsmallpad {
  color: white;
}
#gradeentry {
padding-top: 100px;
padding-bottom: 90px;
}

#cventry {
padding-top: 60px;
padding-bottom: 60px;
}

#file {
padding-top: 900px;

}

#avgEntry {
padding-top: 80px;
padding-bottom: 120px;
}
#element1 {float:right;}
#element2 {float:left;}
#contactcssmenu ul,
#contactcssmenu li,
#contactcssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
#contactcssmenu {
  border: 1px solid #133e40;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: auto;
}
#contactcssmenu ul {
  background: #3498db;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#contactcssmenu ul:before {
  content: '';
  display: block;
}
#contactcssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#contactcssmenu li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
}
#contactcssmenu li a {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
}
#contactcssmenu li.active {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#contactcssmenu li.active a {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}
#contactcssmenu li:hover {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#contactcssmenu li:hover a {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}