@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);
html {
  background: url(/bgimg/feedback-img.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#feedback-page {
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 875px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 100px;
  margin-left: -320px;
  -webkit-border-radius: 7px;
}

.feedback-input3 {
  color: #3c3c3c;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

#name {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#grade {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#grade:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.titletext {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: white;
  font-size: 80px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 35px;
  font-weight: 700;
}

.medtitletext {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  color: white;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.medtitletextpadded {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  color: white;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 40px
}

.text1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}
.text2 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
 
  width: 50%;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

#button-blue {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 50px;
  font-weight: 700;
}

.form-element {
  border: 2px solid #fbfbfb;
  padding: 10px;
  padding-bottom: 10px;
  margin: 1px;
  width: 90%;
  float: right;

  background-color: #3498db;
  color: #fbfbfb;
}

.text {
  margin-right: 7px;
  display: inline;
  width: 40px;
}

.checkbox {
  margin-right: 150px;
  display: inline-block;
  width: 50px;
}

.textsmallpad {
  margin-right: 20px;
  display: inline-block;
}

.textbigpad {
  margin-right: 35px;
  display: inline-block;
}

.texthugepad {
  margin-right: 250px;
  display: inline-block;
}

.studentselect {
  
  display: inline-block;
}
.Cvbutton {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  width: 95px;
  margin-top: 13px;
  margin-right: 30px;
  display: inline-block;

}

.textbigasCvButton {
  margin-right: 25px;
  display: inline;
  width: 10px;
}

input[type='text']{
text-align:right;
}

input[type='text']:focus{
text-align:right;
}
