@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset "UTF-8";

html {
  background: url(/bgimg/feedback-img.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#feedback-page {
  text-align: right;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 575px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 100px;
  margin-left: -260px;
  -webkit-border-radius: 7px;
}

.explain{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: white;
  font-size: 23px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: right;


}

.contact_details{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  color: white;
  font-size: 15px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}

.text1, .text2, .text3, .text11{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

.yellow{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: yellow;
  font-size: 28px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

.orange{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
  width: 100%;
  color: orange;
  font-size: 28px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}

#g-signin2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}


#employ_or_student {
  background-color: rgba(72, 72, 72, 0.4);
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  /*padding-left: 35px;
  padding-right: 35px;

  padding-top: 35px;
  padding-bottom: 50px;*/
  /*width: 575px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 100px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;*/
  /*font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: right;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 34px;
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;*/
}


#employ_button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
}

#employ_button:disabled
{
    background:#CCC;
}

#cssmenu2 ul,
#cssmenu2 li,
#cssmenu2 a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
#cssmenu2 {
  border: 1px solid #133e40;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  margin-top: 45%;
}
#cssmenu2 ul {
  background: #3498db;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu2 ul:before {
  content: '';
  display: block;
}
#cssmenu2 ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu2 li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
}
#cssmenu2 li a {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
}
#cssmenu2 li.active {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu2 li.active a {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}
#cssmenu2 li:hover {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu2 li:hover a {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}



